*,p,h1,h2,h3,h4,h5,h6{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.z-100{
  z-index: 100;
}

.h-100px{
  height: 100px;
}

.lh-10{
  line-height: 10px;
}

.divider {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 75%;
  margin: 10px 0 20px 0;
}

.min-height-200 {
  min-height: 200px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column !important;
  height: 100%;
}

.flex-vertical-center {
  align-items: center;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-card-blur{
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.big-icon-button {
  transition: 0.3s;
  opacity: 0.5;
  padding: 10px;
  border-radius: 0px;
  cursor: pointer;
  margin: 0 5px;
  p {
    text-align: center;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    transition: .3s;
    justify-content: center;
  }

  .big-icon{
    width: 100px;
    height: 100px;
    transition: .3s;
  }
}

.big-icon-button:hover {
  transition: 0.3s;
  opacity: 1;
  border-radius: 10px;
  // background-color: rgba(255, 255, 255, 0.1);
  background-color: #9C89FF22;
  p{
    color: #9C89FF !important;
  }
  .big-icon {
    transition: .3s;
    fill: #9C89FF;
  }
}

.homepage-card {
  transition: 0.3s;

  max-height: 500px;
  width: clamp(610px, 60%, 900px);
  display: flex;
  // flex-direction: column;
  // padding: 1rem;
  padding: 5rem 5rem;
}

.registration-card{
  max-width: 850px;
  padding: 50px;
}

.word-index{
  opacity: .6;
}

.passphrase-box{
  padding: 20px 5px;
  margin: 10px 0;
  background: #ffffff21;
  border-radius: 10px;
}

.word-box{
  width: 120px;
}

.full-screen-container-center {
  display: grid;
  place-items: center;
}

.text-center {
  width: 100%;
  text-align: center;
}

* {
  color: white !important;
  font-family: "Mada", sans-serif;
}

p {
  font-size: 1.2rem;
  line-height: initial;
}

.huge-button {
  background: linear-gradient(
    289.5deg,
    #f38c3e -14.34%,
    #f6579a 81.2%,
    #ec80cd 183.07%
  );
  opacity: 0;
  transition: 0.3s;
}

.huge-button:hover {
  opacity: 1;
  background: linear-gradient(
    289.5deg,
    #f38c3e -14.34%,
    #f6579a 81.2%,
    #ec80cd 183.07%
  );
  transition: 0.3s;
}

.primary {
  min-width: 42px;
  height: 42px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 42px;
  vertical-align: middle;
  border-radius: 10px;
  background: linear-gradient(
    120deg,
    #f38c3e -14.34%,
    #f6579a 81.2%,
    #ec80cd 183.07%
  );
  // background: #f65757;
  font-weight: 900;
  font-size: large;
  width: 80%;
  margin: 0 auto;
  transition: 0.3s;
  z-index: 1;
}

.primary-disabled {
  opacity: .7;
  cursor: not-allowed;
}

.button-secondary {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.primary::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    240deg,
    #f38c3e -14.34%,
    #f6579a 81.2%,
    #ec80cd 183.07%
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 10px;
}
.button:hover::before {
  opacity: 1;
}

.half-card {
  width: 50%;
  min-width: 290px;
}

@media screen and (max-width: 850px) {
  .md-flex-col {
    flex-direction: column !important;
  }

  .half-card {
    width: 100%;
  }

  .homepage-card {
    padding: 20%;
  }
}

@media screen and (max-width: 600px) {
  .homepage-card {
    height: 100vh;
    max-height: 100vh;
    top: 0;
    position: fixed;
  }
}
